body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #1a0b2e, #2b145c);
  color: white;
}

.topo {
  text-align: center;
  padding: 15px;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 2px solid #ff0055;
}

.container {
  padding: 20px;
}

.card {
  background: rgba(255,255,255,0.08);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.card h2 {
  color: #ff0055;
}

.btn {
  display: block;
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  background: #ff0055;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: none;
  cursor: pointer;
  }
